.nav-menu {
    position: absolute;
    left: -100%;
    /* opacity: 0.8; */
    display: none;
    width: 100%;
    background: #ddd;
    height: 100%;
    transition: 0.3s ease;
}

#close-nav {
    background: url('../icons/cancel.png');
    background-size: cover;
    height: 30px;
    width: 30px;
    margin-left: 30px;
}

@media all and (max-width: 400px) {
    .nav-menu {
        display: flex;
    }
}